body{
    display: grid;
    grid-template-rows: 300px 1fr 50px;
}
.cards{
    display: grid;
    grid-template-rows: 50px 100px;
}
.cards2{
    display: grid;
    grid-template-rows: 100px 50px;
}
#up{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}
#down{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}